<!DOCTYPE html>
<!-- <html xmlns:th="http://www.thymeleaf.org"> -->
<html layout:decorate="~{layout}">
<head>
	<meta charset="UTF-8">
    <!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Controle de Projetos TG</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/estilos.css" rel="stylesheet"/>
    <link href="bootstrap/css/sticky-footer-navbar.css" rel="stylesheet"/> -->
</head>
<body>

	<!-- <header>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		  <a class="navbar-brand" href="#">Controle de projeto</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarCollapse">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="#">Insere <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Lista</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
		      </li>
		    </ul>
		    <form class="form-inline mt-2 mt-md-0">
		      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
		      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		    </form>
		  </div>
		</nav>
	</header> -->
	<main layout:fragment="conteudo" >
		<div class="container">
		
			<h1>Insere projeto</h1>
			<form th:action="@{/insere}" th:object="${projeto}" method="POST">
				<div class="form-group">
					<label for="titulo">Título</label>
					<input type="text" class="form-control" id="titulo" th:field="*{titulo}">
				</div>
				<div class="form-group">
					<label for="objetivo">Objetivo</label>
					<textarea class="form-control" id="objetivo" th:field="*{objetivo}" rows="5"></textarea>
				</div>
				<div class="form-group">
					<label for="justificativa">Justificativa</label>
					<textarea class="form-control" id="justificativa" th:field="*{justificativa}" rows="5"></textarea>
				</div>
				<div class="row">
				    <div class="col">
				    	<label for="datainicio">Data de início</label>
				      	<input type="date" class="form-control" id="datainicio" th:field="*{dataInicio}">
				    </div>
				    <div class="col">
				    	<label for="datainicio">Data de término</label>
				      	<input type="date" class="form-control" id="datatermino" th:field="*{dataTermino}">
				    </div>
				</div>
				<div class="form-group">
				    <label for="responsaveis">Responsável técnico</label>
				    <select multiple class="form-control" id="responsaveis">
				      <option>1</option>
				      <option>2</option>
				      <option>3</option>
				      <option>4</option>
				      <option>5</option>
				    </select>
			  	</div>
				<div id="marcos">
					<label>Marcos</label>
					<div id="marco">				
						<div class="form-row" th:each="marco, item : *{marcos}">			
							<div class="form-group col-md-9">
								<input type="text" class="form-control" th:field="*{marcos[__${item.index}__].descricao}">
							</div>
							<div class="form-group col-md-3">
								<input type="date" class="form-control" th:field="*{marcos[__${item.index}__].dataTermino}">
							</div>					
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-2">
							<span>Adiciona marco</span>
							<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-plus" fill="currentColor" id="botaoAdiciona" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4z"/>
								<path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
							</svg>
						</div>
						<div class="form-group col-md-2">
							<span>Elimina marco</span>
							<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-minus" fill="currentColor" id="botaoRemove" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4z"/>
								<path fill-rule="evenodd" d="M5.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z"/>
							</svg>
						</div>
					</div>	
				</div>
				<label>Linha de Pesquisa</label>
				<div th:each="linha : ${linhasDePesquisa}">
					<input type="radio" th:field="*{linhaPesquisa}" th:value="${linha}" />
					<label th:for="${#ids.prev('linhaPesquisa')}" th:text="${linha.nome}">Linha de Pesquisa</label>
				</div>
				
				<button type="submit" class="btn btn-secondary">Gravar</button>
			</form>
		</div>
	</main>
	

	<!-- <footer class="footer mt-auto py-3">
		<div class="container">
			<span class="text-muted">EXP/TPGG/TG - Todos os direitos reservados</span>
		</div>
	</footer> -->
	<!-- 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<script src="js/adicionamarco.js"></script>
		<script src="js/removemarco.js"></script> -->
</body>
</html>