<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>ListaVIP</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/estilos.css" rel="stylesheet"/>
</head>
<body>

	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Navbar</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNav" aria-controls="navbarNav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active"><a class="nav-link" href="#">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Features</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Pricing</a>
					</li>
					<li class="nav-item"><a class="nav-link disabled" href="#"
						tabindex="-1" aria-disabled="true">Disabled</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<main>
	
	<div class="container">
		<form action="" method="POST">
			<div class="form-group">
			  <label for="titulo">Título</label>
			  <input type="text" class="form-control" id="titulo">
			</div>
			<div class="form-group">
			  <label for="objetivo">Objetivo</label>
			  <textarea class="form-control" id="objetivo" rows="5"></textarea>
			</div>
			 <div class="form-group">
			  <label for="justificativa">Justificativa</label>
			  <textarea class="form-control" id="justificativa" rows="5"></textarea>
			</div>
		</form>
	</div>
		
	</main>
	
	<footer>
	
	</footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>