<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Controle de Projetos TG</title>
    
    <!-- Bootstrap core CSS -->
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    
    <!-- Custom styles -->
    <link href="css/estilos.css" rel="stylesheet"/>

	<link href="bootstrap/css/sticky-footer-navbar.css" rel="stylesheet"/>

</head>
<meta charset="ISO-8859-1">
<title>Projetos TG</title>
</head>
<body>
	<header th:replace="fragments/header :: cabecalho">
		<div>
		header
		</div>
	</header>
	<main layout:fragment="conteudo">
	
	</main>
	<!-- <div>
		<aside>
			<nav>
				<span>menu
				</span>
			</nav>
		</aside>
		<section> layout:fragment="conteudo"
			<div>conteúdo principal</div>
		</section>
	</div> -->
	<!-- <footer th:replace="fragments/footer :: ropade">
		<div>footer</div>
	</footer> -->
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="js/adicionamarco.js"></script>
	<script src="js/removemarco.js"></script>
	</body>
</html>